*.o
*.lo
*.la
*.sw*
phosphor-inventory
generated.cpp
xyz.openbmc_project.Example.Iface1.cpp
xyz.openbmc_project.Example.Iface2.cpp
xyz/openbmc_project/Example/Iface1/server.hpp
xyz/openbmc_project/Example/Iface2/server.hpp
Makefile
Makefile.in
configure
.deps
.libs
aclocal.m4
ar-lib
arm-openbmc-linux-gnueabi-libtool
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
